$cardGap: 2%;
$cardColumn: (
  1200: 3,
  991: 2,
  767: 1,
);

.recipes {
  &__button {
    margin-bottom: 20px;
    position: relative;
    left: 100%;
    transform: translate(-100%);
  }

  &__card-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: $cardGap;
    width: 100%;
  }

  &__card-item {
    width: calc(
      #{(100% - (map-get($cardColumn, 1200) - 1) * $cardGap) / map-get(
          $cardColumn,
          1200
        )}
    );
    margin-bottom: $cardGap;
  }

  &__card {
    letter-spacing: 1.1px;
  }

  &__title {
    background-color: inherit;
    border-bottom: none;
    font-family: cursive;
    text-transform: uppercase;
    text-align: end;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 20px;
  }

  &__body {
    min-height: 132px;
  }

  &__ingredient-title {
    font-family: cursive;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    width: 25%;

    &::after {
      content: "";
      position: absolute;
      border-bottom: 1px solid #dc3545;
      top: 50%;
      left: 100%;
      width: 300%;
    }
  }

  &__ingredient-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 4%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__ingredient-item {
    width: 44%;
    font-size: 14px;
  }

  &__ingredient-more {
    font-weight: 600;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 991px) {
  .recipes {
    &__card-item {
      width: calc(
        #{(100% - (map-get($cardColumn, 991) - 1) * $cardGap) / map-get(
            $cardColumn,
            991
          )}
      );
      margin-bottom: $cardGap;
    }
  }
}

@media screen and (max-width: 767px) {
  .recipes {
    &__card-item {
      width: calc(
        #{(100% - (map-get($cardColumn, 767) - 1) * $cardGap) / map-get(
            $cardColumn,
            767
          )}
      );
      margin-bottom: $cardGap;
    }
  }
}
