.benefit {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 35px;

  &__item {
    display: flex;
    gap: 50px;
  }

  &__icon-wrap {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #dc3545;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 40px;
    height: 40px;
    mask-size: cover;
    background-color: #fff;

    &_type_cookbook {
      mask-image: url(../../assets/images/cookbook_icon.svg);
    }
    &_type_calendar {
      mask-image: url(../../assets/images/calendar_icon.svg);
    }
    &_type_list {
      mask-image: url(../../assets/images/list_icon.svg);
    }
    &_type_comment {
      mask-image: url(../../assets/images/comments_icon.svg);
    }
  }

  &__content-wrap {
    width: 500px;
  }

  &__title {
    font-size: 28px;
  }

  &__text {
    margin: 0;
  }
}

@media screen and (max-width: 1120px) {
  .benefit {
    &__item {
      gap: 30px;
    }

    &__icon-wrap {
      width: 70px;
      height: 70px;
    }

    &__content-wrap {
      width: 400px;
    }

    &__title {
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 991px) {
  .benefit {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 100px;

    &__item {
      flex-direction: column;
      width: 250px;
      text-align: center;
      gap: 20px;
    }

    &__icon-wrap {
      margin: 0 auto;
    }

    &__content-wrap {
      width: 250px;
    }

    &__title {
      font-size: 20px;
      min-height: 48px;
    }

    &__text {
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .benefit {
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  .benefit {
    flex-direction: column;
    align-items: center;
    gap: 50px;

    &__item {
      gap: 10px;
    }

    &__title {
      min-height: 100%;
    }
  }
}
