/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/Popups/Popup/Popup.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.popup {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  justify-content: center;
  align-items: center;
  transition: visibility 0.4s, opacity 0.4s linear;
  opacity: 0;
  visibility: hidden;
}
.popup_opened {
  opacity: 1;
  visibility: visible;
  transition: 0.3s;
}
.popup_events-none {
  pointer-events: none;
}
.popup__container {
  box-sizing: border-box;
  position: absolute;
  margin: 0 auto;
  padding: 34px 36px 37px;
  border-radius: 10px;
  background-color: #fff;
}
.popup__container_size_small {
  width: 430px;
}
.popup__container_size_medium {
  width: 50%;
}
.popup__container_size_large {
  height: 530px;
  width: 70%;
}
.popup__container_size_fill {
  width: 100%;
}
.popup__close-none {
  display: none;
}
.popup__close {
  border: none;
  padding: 0;
  position: absolute;
  -webkit-mask-size: cover;
          mask-size: cover;
  background-color: rgb(220, 53, 69);
  -webkit-mask-image: url(/_next/static/media/close_icon.c22ddfac.svg);
          mask-image: url(/_next/static/media/close_icon.c22ddfac.svg);
  width: 16px;
  height: 16px;
  top: 10px;
  right: 10px;
}
.popup__close:hover {
  cursor: pointer;
  opacity: 0.6;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/Tabs/Tabs.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.tab {
  height: 100%;
  overflow-y: auto;
}
.tab.active {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tab__input-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  width: 100%;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/Popups/PopupAddRecipe/PopupAddRecipe.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.add-recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.add-recipe__list {
  margin-bottom: 30px;
}
.add-recipe__tabs-wrap {
  height: calc(100% - 60px);
}
.add-recipe__tabs-wrap > .tab-content {
  height: calc(100% - 72px);
}
.add-recipe__tab.active {
  border-bottom-color: #dc3545 !important;
}
.add-recipe__button-wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.add-recipe__button_disabled {
  pointer-events: none;
  opacity: 0.7;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/Popups/PopupIngredients/PopupIngredients.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.popup-ingredients__list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  gap: 15px;
}
.popup-ingredients__item {
  list-style-type: none;
  letter-spacing: 1.1px;
}
.popup-ingredients__item::before {
  content: "";
  -webkit-mask-image: url(/_next/static/media/list-item_icon.5a51e800.svg);
          mask-image: url(/_next/static/media/list-item_icon.5a51e800.svg);
  display: inline-block;
  -webkit-mask-size: cover;
          mask-size: cover;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background-color: rgb(220, 53, 69);
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/Recipes/RecipesList/RecipesList.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.recipes__button {
  margin-bottom: 20px;
  position: relative;
  left: 100%;
  transform: translate(-100%);
}
.recipes__card-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  width: 100%;
}
.recipes__card-item {
  width: calc(32%);
  margin-bottom: 2%;
}
.recipes__card {
  letter-spacing: 1.1px;
}
.recipes__title {
  background-color: inherit;
  border-bottom: none;
  font-family: cursive;
  text-transform: uppercase;
  text-align: end;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
}
.recipes__body {
  min-height: 132px;
}
.recipes__ingredient-title {
  font-family: cursive;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  position: relative;
  width: 25%;
}
.recipes__ingredient-title::after {
  content: "";
  position: absolute;
  border-bottom: 1px solid #dc3545;
  top: 50%;
  left: 100%;
  width: 300%;
}
.recipes__ingredient-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.recipes__ingredient-item {
  width: 44%;
  font-size: 14px;
}
.recipes__ingredient-more {
  font-weight: 600;
}
.recipes__ingredient-more:hover {
  cursor: pointer;
  opacity: 0.7;
}

@media screen and (max-width: 991px) {
  .recipes__card-item {
    width: calc(49%);
    margin-bottom: 2%;
  }
}
@media screen and (max-width: 767px) {
  .recipes__card-item {
    width: calc(100%);
    margin-bottom: 2%;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/components/SearchBar/SearchBar.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search {
  margin: 30px 0;
}
