.tab {
  height: 100%;
  overflow-y: auto;

  &.active {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__input-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
  }
}
